//- Параметры контейнера
//- width: 90vw
//- max-width: 800px
//- height: auto
//- padding: 40px 10px


section.main__popup.main__popup_1.popup
	h2.popup__h2 #{b1}
	p.popup__text ООО "Амата" (ИНН: 7801654181) создана в 2018 году. Основной род деятельности - разработка серверных систем на базе Open Source технологий. На текущий момент, главными направлениями являются игровые сервера и веб-разработки. Кроме того, компания создала и владеет бесплатным хостингом фотографий ZiZi Hub.
	p.popup__text.popup__important *Если у вас есть идея и вы хотите воплотить ее в жизнь то обращайтесь к нам, ведь мы всегда открыты к предложениям сотрудничества. У нас достаточно серверных мощностей и технологий для запуска практически любого проекта.

section.main__popup.main__popup_2.popup
	h2.popup__h2 #{b2}
	
section.main__popup.main__popup_3.popup
	h2.popup__h2 #{b3}
	
section.main__popup.main__popup_4.popup
	h2.popup__h2 #{b4}
	
section.main__popup.main__popup_5.popup
	h2.popup__h2 #{b5}
	
section.main__popup.main__popup_6.popup
	h2.popup__h2 #{b6}
	p.popup__text На данный момент у нас нет свободных вакансий, но вы можете написать на почту, указав желаемую должность и прикрепив резюме:
	a(href="mailto:info@amatasoftware.com").popup__a.popup__important info@amatasoftware.com
	p.popup__text Мы обязательно прочтем)