//- Параметры контейнера
//- width: 90vw
//- max-width: 800px
//- height: auto
//- padding: 40px 10px

//-==================================
//-=== PopUp-1 ===
//-==================================
section.main__popup.main__popup_1.popup
	h2.popup__h2 #{b1}
	p.popup__text.popup__lazy ООО "Амата" (ИНН: 7801654181) создана в 2018 году. Основной род деятельности - разработка серверных систем на базе Open Source технологий. На текущий момент, главными направлениями являются игровые сервера и веб-разработки. Кроме того, компания создала и владеет бесплатным хостингом фотографий ZiZi Hub.
	arcticle.popup__article.popup__lazy
		h3.popup__h3 Партнерская программа:
		p.popup__text.popup__important Если у вас есть идея и вы хотите воплотить ее в жизнь то обращайтесь к нам, ведь мы всегда открыты к предложениям сотрудничества. У нас достаточно серверных мощностей и технологий для запуска практически любого проекта.


//-==================================
//-=== PopUp-2 ===
//-==================================
section.main__popup.main__popup_2.popup
	h2.popup__h2 #{b2}
	


//-==================================
//-=== PopUp-3 ===
//-==================================
section.main__popup.main__popup_3.popup
	h2.popup__h2 #{b3}
	


//-==================================
//-=== PopUp-4 ===
//-==================================
section.main__popup.main__popup_4.popup
	h2.popup__h2 #{b4}
	arcticle.popup__article.popup__lazy
		img(src="img/draconica.png" alt="image missed").popup__img
		h3.popup__h3
			a(href="info@amatasoftware.com").popup__a--inherit Project 1:
		p.popup__text Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam et explicabo, possimus mollitia blanditiis fuga labore illum quae! Earum, harum eligendi doloremque nemo ratione optio. Voluptatum, sint! Id, quidem. Incidunt.

	arcticle.popup__article.popup__lazy
		img(src="img/crop.png" alt="image missed").popup__img
		h3.popup__h3
			a(href="info@amatasoftware.com").popup__a--inherit Project 2:
		p.popup__text Description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit, labore.
	arcticle.popup__article.popup__lazy
		img(src="img/crop.png" alt="image missed").popup__img
		h3.popup__h3
			a(href="info@amatasoftware.com").popup__a--inherit Project 3:
		p.popup__text Description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique sequi quibusdam necessitatibus odio a eveniet ipsa fuga veritatis delectus adipisci tenetur rem reiciendis nihil optio incidunt quia, tempora pariatur quam officia neque aliquam. Aperiam quam neque quia, iure delectus corporis nihil eaque esse veritatis, ex dolore, iusto fugiat ducimus natus!
//-==================================
//-=== PopUp-5 ===
//-==================================
section.main__popup.main__popup_5.popup
	h2.popup__h2 #{b5}
	p.popup__text.popup__lazy Готовы рассмотреть любые предложения о содрудничестве:
	a(href="mailto:info@amatasoftware.com").popup__a.popup__important.popup__lazy info@amatasoftware.com
	p.popup__text.popup__lazy Мы обязательно прочтем)


//-==================================
//-=== PopUp-6 ===
//-==================================
section.main__popup.main__popup_6.popup
	h2.popup__h2 #{b6}
	p.popup__text.popup__lazy На данный момент у нас нет свободных вакансий, но вы можете написать на почту, указав желаемую должность и прикрепив резюме:
	a(href="mailto:info@amatasoftware.com").popup__a.popup__important.popup__lazy info@amatasoftware.com
	p.popup__text.popup__lazy Мы обязательно прочтем)
